# =============================
#   Python Project (Flask)
# =============================

__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignore virtual environment
venv/
env/
ENV/
.venv/

# Flask settings
instance/
*.log

# Uploaded/temporary files
uploads/
tmp/
*.tmp


# =============================
#   Environment & Secrets
# =============================

# Environment variables
.env
*.env

# Azure Credentials (important!)
*.azure
*.pem
*.key
*.pub


# =============================
#   IDE Settings
# =============================

# VS Code
.vscode/
.history/
*.code-workspace

# PyCharm
.idea/
*.iml


# =============================
#   Node/React (if used later)
# =============================

node_modules/
npm-debug.log
yarn-error.log


# =============================
#   Terraform Files
# =============================
terraform/
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# =============================
#   OS Files
# =============================

.DS_Store
Thumbs.db


# =============================
#   Build & Deployment
# =============================

dist/
build/
*.zip
*.tar.gz
